#result-header {
    display: flex;
    flex-direction: row;
}

#result-title-and-web {
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin-bottom: 8px;
}

#result-title-and-web p:nth-of-type(1) {
    margin-bottom: 7px;
}

#result-image-div {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 8px;
}

#result-image-border-circle {
    border-radius: 50%;
    border: 1px solid #dadce0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

#result-image-border-circle img {
    width: 21px;
    height: 21px;
}

#result-title {
    display: block;
    font-size: 20px;
    color: #1a0dab;
    text-decoration: none;
    margin-bottom: -5px;
    font-weight: normal;
    margin-top: 0;
}

#result-title-and-web p {
    font-size: 14px;
}

#result-title-and-web p:nth-of-type(2) {
    font-size: 12px;
}

#result-a {
    text-decoration: inherit;
    color: inherit;
}